@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

html {
  font-size: 17px;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes display-body {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-menu {
  0% {
    opacity: 0;
    transform: translateY(17px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body > i:first-child {
  color: #9356DC;
  position: absolute;
  left: 50%;
  margin-left: -85px;
  top: 40vh;
  font-size: 10rem;
  animation: loading-spinner 1s ease-in-out 3;
}
body .bloc-page {
  animation: display-body 0s 3s both;
}

h1 {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 2.5%;
  padding: 42.5px 0 17px 0;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-family: "Shrikhand", serif;
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 13.5px;
}

header {
  height: 68px;
  box-shadow: 0 5px 8.5px #d9d9d9;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
header img {
  max-width: 45%;
  height: auto;
  max-height: 60px;
  display: block;
  margin: auto;
  padding-top: 22px;
}
header i {
  font-size: 1.2rem;
  position: absolute;
  left: 25.5px;
  padding-top: 27px;
}

main {
  background-color: #fff;
  position: relative;
}

footer {
  height: 204px;
  background-color: #333333;
  padding: 25.5px 5%;
}
footer a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
}
footer i {
  width: 10px;
  color: #fff;
  font-size: 0.7rem;
  margin-right: 12px;
}
footer ul {
  line-height: 25.5px;
}

.heading__location {
  background-color: #e6e6e6;
  color: #333333;
  height: 51px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.heading__reservation {
  height: 289px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25.5px;
  align-items: center;
}
.heading__reservation p {
  font-weight: 300;
  text-align: center;
}
.heading__reservation-btn {
  height: 51px;
  width: 221px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 34px;
  font-size: 1rem;
  color: #fff;
  padding: 15px;
  box-shadow: 0 5px 8.5px #a6a6a6;
}
.heading__reservation-btn:hover {
  box-shadow: 0 5px 15px #737373;
  background: #FF79DA;
}
.heading__image {
  width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}
@media all and (min-width: 1025px) {
  .heading__image {
    width: 40%;
    height: auto;
    margin-left: 30%;
    border-radius: 68px;
  }
}

.fonctionnement {
  height: 374px;
  background-color: #fff;
}
.fonctionnement ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.fonctionnement li {
  width: 90%;
  height: 68px;
  padding: 25.5px 34px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  gap: 25.5px;
  box-shadow: 0 5px 8.5px #d9d9d9;
  position: relative;
}
.fonctionnement li p:first-child {
  width: 25.5px;
  height: 25.5px;
  text-align: center;
  font-size: 0.9rem;
  padding: 3.5px;
  color: #fff;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  left: -7px;
}
.fonctionnement li:hover {
  background-color: #f2eafb;
}
.fonctionnement li:hover i {
  color: #9356DC;
}
.fonctionnement i {
  color: gray;
  font-size: 1.3rem;
}

.restaurants {
  background-color: #f2f2f2;
  height: auto;
  padding-bottom: 34px;
}
.restaurants ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
@media all and (min-width: 1025px) {
  .restaurants ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.restaurants li {
  width: 90%;
  height: 272px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 17px;
  box-shadow: 0 5px 8.5px #d9d9d9;
}
@media all and (min-width: 1025px) {
  .restaurants li {
    width: 45%;
  }
}
.restaurants li img {
  width: 100%;
  height: auto;
}
.restaurants li:hover {
  box-shadow: none;
}
.restaurants__new {
  position: absolute;
  z-index: 1;
  top: 13.5px;
  right: 13.5px;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.9rem;
  padding: 5px 12px;
}
.restaurants__description {
  width: 100%;
  height: 77px;
  padding: 17px;
  line-height: 24px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.restaurants__description i {
  position: absolute;
  z-index: 5;
  font-size: 1.5rem;
  bottom: 25.5px;
  right: 25.5px;
}
.restaurants__description-like::before {
  font-family: fontAwesome;
  content: "\f004";
  color: #9356DC;
  position: absolute;
  z-index: 6;
  font-size: 1.5rem;
  height: 0;
  overflow: hidden;
  transition: all 1s ease-in;
  top: 27px;
  right: 25.5px;
}
.restaurants__description-like:hover::before {
  color: #FF79DA;
  height: 100%;
}
.restaurants__description p {
  font-weight: 300;
}

.bloc-main {
  width: 100%;
  position: absolute;
  top: 204px;
  z-index: 4;
}
@media all and (min-width: 1025px) {
  .bloc-main {
    position: unset;
  }
}

.menu {
  height: auto;
  padding-bottom: 17px;
  z-index: 3;
  background-color: #f2f2f2;
  border-radius: 42.5px 42.5px 0 0;
  position: relative;
}
.menu h1 {
  font-family: "Shrikhand", serif;
  font-size: 1.6rem;
  text-align: left;
  padding: 34px 2.5% 0;
  margin-bottom: 17px;
}
@media all and (min-width: 1025px) {
  .menu ul {
    display: flex;
  }
}
.menu__like i {
  position: absolute;
  right: 37.4px;
  top: 39px;
  font-size: 1.5rem;
}
.menu__like::before {
  font-family: fontAwesome;
  content: "\f004";
  color: #9356DC;
  position: absolute;
  z-index: 6;
  font-size: 1.5rem;
  height: 0;
  overflow: hidden;
  transition: all 1s ease-in;
  right: 37.4px;
  top: 39px;
}
.menu__like:hover::before {
  color: #FF79DA;
  height: 100%;
}
.menu h2 {
  font-weight: 300;
  font-size: 1.1rem;
  padding-top: 17px;
}
.menu__title {
  position: relative;
}
.menu__underline {
  height: 4px;
  width: 51px;
  position: absolute;
  left: 2.5%;
  bottom: 10px;
  background-color: #99E2D0;
}
.menu__dish {
  background-color: #fff;
  width: 95%;
  height: 68px;
  margin: 0 auto 17px;
  border-radius: 17px;
  box-shadow: 0 3.4px 10px #e6e6e6;
  position: relative;
  overflow: hidden;
  animation: slide-menu 0.5s 0.3s ease-out both;
}
@media all and (min-width: 1025px) {
  .menu__dish {
    margin: 17px;
  }
}
.menu__dish:focus i, .menu__dish:hover i {
  transform: rotate(0);
  transition: transform 0.5s;
}
.menu__dish a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: width 150ms ease-in;
}
.menu__dish a:focus, .menu__dish a:hover {
  width: calc(100% - 51px);
}
.menu__dish--1 {
  animation-delay: 150ms;
}
.menu__dish--2 {
  animation-delay: 300ms;
}
.menu__dish--3 {
  animation-delay: 450ms;
}
.menu__dish--4 {
  animation-delay: 600ms;
}
.menu__dish--5 {
  animation-delay: 750ms;
}
.menu__dish--6 {
  animation-delay: 900ms;
}
.menu__dish--7 {
  animation-delay: 1050ms;
}
.menu__dish--8 {
  animation-delay: 1200ms;
}
.menu__dish--9 {
  animation-delay: 1350ms;
}
.menu__dish--10 {
  animation-delay: 1500ms;
}
.menu__dish h3 {
  padding: 13.5px 12px 3.4px;
  margin-right: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 51px;
}
.menu__dish p:first-of-type {
  padding: 3.4px 12px 0;
  font-weight: 300;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 51px;
}
.menu__dish p:last-child {
  position: absolute;
  right: 25.5px;
  bottom: 10px;
}
.menu__dish-check {
  width: 85px;
  height: 68px;
  background-color: #99E2D0;
  position: absolute;
  right: -17px;
  z-index: 2;
  transform: translateX(85px);
  transition: transform 150ms ease-in;
}
.menu__dish-check i {
  padding: 22px;
  font-size: 1.7rem;
  color: #fff;
  transform: rotate(-360deg);
}
.menu__dish:focus .menu__dish-check, .menu__dish:hover .menu__dish-check {
  transform: translateX(0);
}
.menu__dish:hover {
  box-shadow: none;
}
.menu__btn {
  display: block;
  margin: 51px auto 34px;
  height: 51px;
  width: 221px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 34px;
  font-size: 1rem;
  color: #fff;
  padding: 15px;
  box-shadow: 0 5px 8.5px #a6a6a6;
  text-align: center;
  width: 170px;
}
.menu__btn:hover {
  box-shadow: 0 5px 15px #737373;
  background: #FF79DA;
}

/*# sourceMappingURL=style.css.map */
