@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$bg-color: #fff;
$bg-color-secondary: darken($bg-color, 5);
$bg-color-tertiary: darken($bg-color, 10);
$bg-color-dark: darken($bg-color,80);

$card-shadow: 0 0.3rem 0.5rem darken($bg-color-tertiary, 5);

h1 {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 5%;
    padding: 2.5rem 0 1rem 0;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-family: "Shrikhand", serif;
    font-size: 1.1rem;
    color: $bg-color;
    margin-bottom: 0.8rem;
}

header {
    height: 4rem;
    box-shadow: 0 2rem 1rem black;
    img {
        width: 45%;
        height: auto;
        display: block;
        margin: auto;
        padding-top: 1.3rem;
    }
}

footer {
    height: 12rem;
    background-color: $bg-color-dark;
    padding: 1.5rem;
    a {
        color: $bg-color;
        font-size: 0.8rem;
        font-weight: 300;
    }
    i {
        width: 10px;
        color: $bg-color;
        font-size: 0.7rem;
        margin-right: 0.7rem;
    }
    ul {
        line-height: 1.5rem;
    }
}

.heading {
    &__location {
        background-color: $bg-color-tertiary;
        color: darken($bg-color-tertiary, 70);
        height: 3rem;
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
    }
    &__reservation {
        height: 17rem;
        background-color: $bg-color-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;
        p {
            font-weight: 300;
            text-align: center;
        }
        &-btn {
            height: 3rem;
            width: 13rem;
            background: linear-gradient(to bottom right, $color-secondary, $color-primary);
            border-radius: 2rem;
            font-size: 1rem;
            color: $bg-color;
            padding: 0.9rem;
            box-shadow: 0 0.3rem 0.5rem darken($bg-color-tertiary, 25);
        }
    }
}

.fonctionnement {
    height: 22rem;
    ul {
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
        align-items: center;
    }
    li {
        width: 90%;
        height: 4rem;
        padding: 1.5rem 2rem;
        background-color: $bg-color-secondary;
        border-radius: 1.2rem;
        display: flex;
        gap: 1.5rem;
        box-shadow: $card-shadow;
        position: relative;
        p:first-child {
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
            font-size: 0.9rem;
            
            padding: 0.2rem;
            color: $bg-color;
            background-color: $color-primary;
            border-radius: 50%;
            position: absolute;
            left: -0.7rem;
        }
    }
    i {
        color: darken($bg-color-tertiary, 40);
        font-size: 1.3rem;
    }
}

.restaurants {
    background-color: $bg-color-secondary;
    height: 76rem;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    li {
        width: 90%;
        height: 16rem;
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: $card-shadow;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__description {
        width: 100%;
        height: 4.5rem;
        padding: 1rem;
        line-height: 1.4rem;
        background-color: $bg-color;
        position: absolute;
        bottom: 0;
        border-radius: 0 0 1rem 1rem;
        i {
            position: absolute;
            right: 1.5rem;
            bottom: 2rem
        }
        p {
            font-weight: 300;
        }
    }
}