@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient(to bottom right, $color-secondary, $color-primary);

$bg-color: #fff;
$bg-color-secondary: darken($bg-color, 5);
$bg-color-tertiary: darken($bg-color, 10);
$bg-color-dark: darken($bg-color,80);

@mixin main-btn {
    height: 3rem;
    width: 13rem;
    background: $color-gradient;
    border-radius: 2rem;
    font-size: 1rem;
    color: $bg-color;
    padding: 0.9rem;
    box-shadow: 0 0.3rem 0.5rem darken($bg-color-tertiary, 25);
}

@mixin shadow ($color: darken($bg-color-tertiary, 5)) {
    box-shadow: 0 0.3rem 0.5rem $color;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes display-body {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    > i:first-child {
        position: absolute;
        left: 27%;
        top: 40vh;
        font-size: 10rem;
        animation: loading-spinner 1s ease-in-out 3;
    }
    .bloc-page {
    animation: display-body 0ms 3s both;
    }
}

h1 {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 5%;
    padding: 2.5rem 0 1rem 0;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-family: "Shrikhand", serif;
    font-size: 1.1rem;
    color: $bg-color;
    margin-bottom: 0.8rem;
}

header {
    height: 4rem;
    @include shadow;
    position: relative;
    z-index: 1;
    img {
        width: 45%;
        height: auto;
        display: block;
        margin: auto;
        padding-top: 1.3rem;
    }
    i {
        font-size: 1.2rem;
        position: absolute;
        left: 1.5rem;
        padding-top: 1.6rem;
    }
}

main {
    background-color: $bg-color-secondary;
    
}

footer {
    height: 12rem;
    background-color: $bg-color-dark;
    padding: 1.5rem;
    a {
        color: $bg-color;
        font-size: 0.8rem;
        font-weight: 300;
    }
    i {
        width: 10px;
        color: $bg-color;
        font-size: 0.7rem;
        margin-right: 0.7rem;
    }
    ul {
        line-height: 1.5rem;
    }
}

.heading {
    &__location {
        background-color: $bg-color-tertiary;
        color: darken($bg-color-tertiary, 70);
        height: 3rem;
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
    }
    &__reservation {
        height: 17rem;
        background-color: $bg-color-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;
        p {
            font-weight: 300;
            text-align: center;
        }
        &-btn {
            @include main-btn;
            &:hover {
                box-shadow: 0 0.3rem 0.9rem darken($bg-color-tertiary, 45);
            }
        }
    }
    &__image { 
        width: 100vw;
        height: auto;
        z-index: 2;
        position: relative;
    }
}

.fonctionnement {
    height: 22rem;
    ul {
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
        align-items: center;
    }
    li {
        width: 90%;
        height: 4rem;
        padding: 1.5rem 2rem;
        background-color: $bg-color-secondary;
        border-radius: 1.2rem;
        display: flex;
        gap: 1.5rem;
        @include shadow;
        position: relative;
        p:first-child {
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
            font-size: 0.9rem;
            
            padding: 0.2rem;
            color: $bg-color;
            background-color: $color-primary;
            border-radius: 50%;
            position: absolute;
            left: -0.7rem;
        }
    }
    i {
        color: darken($bg-color-tertiary, 40);
        font-size: 1.3rem;
    }
}

.restaurants {
    background-color: $bg-color-secondary;
    height: 76rem;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    li {
        width: 90%;
        height: 16rem;
        position: relative;
        z-index: 2;
        overflow: hidden;
        border-radius: 1rem;
        @include shadow;
        img {
            width: 100%;
            height: auto;
        }
        &:hover {
            @include shadow($bg-color);
        }
    }
    &__new {
        position: absolute;
        z-index: 1;
        top: 0.8rem;
        right: 0.8rem;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40);
        font-size: 0.9rem;
        padding: 0.3rem 0.7rem;
    }
    &__description {
        width: 100%;
        height: 4.5rem;
        padding: 1rem;
        line-height: 1.4rem;
        background-color: $bg-color;
        position: absolute;
        bottom: 0;
        border-radius: 0 0 1rem 1rem;
        i {
            font-size: 1.5rem;
            position: absolute;
            right: 1.5rem;
            bottom: 1.5rem;
            z-index: 2;
            &:hover {
                opacity: 0;
                &::after {
                    opacity: 1;
                }
            }
        }
        &::after {
            content: "letsgo";
            position: absolute;
            right: 1.5rem;
            bottom: 1.5rem;
            color: red;
            z-index: 1;
            opacity: 0;
            transition: opacity 300ms;
        }
        p {
            font-weight: 300;
        }
    }
}

.menu {
    position: relative;
    bottom: 3rem;
    z-index: 3;
    background-color: $bg-color-secondary;
    border-radius: 2.5rem 2.5rem 0 0;
    h1 {
        font-family: "Shrikhand", serif;
        font-size: 1.6rem;
        text-align: left;
        padding: 2rem 0 0 1.3rem;
        margin-bottom: 1rem;
    }
    i {
        position: absolute;
        right: 2.2rem;
        top: 2.3rem;
        font-size: 1.5rem;
    }
    h2 {
        font-weight: 300;
        font-size: 1.1rem;
        padding-top: 1rem;
    }
    &__title {
        position: relative;
    }
    &__underline {
        height: 4px;
        width: 3rem;
        position: absolute;
        left: 1.1rem;
        bottom: 0.6rem;
        background-color: $color-tertiary;
    }
    li {
        background-color: $bg-color;
        width: 90%;
        height: 4rem;
        margin: 0 auto 1rem;
        border-radius: 1rem;
        box-shadow: 0 0.2rem 0.6rem $bg-color-tertiary;
        position: relative;
        h3 {
            padding: 0.8rem 0.7rem 0.2rem;
        }
        p:first-of-type {
            padding: 0 0.7rem;
            font-weight: 300;
            font-size: 0.85rem;
        }
        p:last-child {
            position:absolute;
            right: 1.5rem;
            bottom: 0.6rem;
        }
    }
    &__btn {
        @include main-btn;
        margin: 3rem auto 4rem;
        text-align: center;
        width: 10rem;
        &:hover {
            box-shadow: 0 0.3rem 0.9rem darken($bg-color-tertiary, 45);
        }
    }
}
