@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
}

html {
    font-size: 17px;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient(to bottom right, $color-secondary, $color-primary);

$bg-color: #fff;
$bg-color-secondary: darken($bg-color, 5);
$bg-color-tertiary: darken($bg-color, 10);
$bg-color-dark: darken($bg-color,80);

$breakpoints: (
    tablette: 1025px,
);

@mixin tablette-bp {
    @media all and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin main-btn {
    height: 51px;
    width: 221px;
    background: $color-gradient;
    border-radius: 34px;
    font-size: 1rem;
    color: $bg-color;
    padding: 15px;
    box-shadow: 0 5px 8.5px darken($bg-color-tertiary, 25);
}

@mixin ellipsis-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 51px;
}

@mixin shadow ($color: darken($bg-color-tertiary, 5)) {
    box-shadow: 0 5px 8.5px $color;
}

@mixin anim-like {
    font-family: fontAwesome;
    content: '\f004';
    color: #9356DC;
    position: absolute;
    z-index: 6;
    font-size: 1.5rem;
    height: 0;
    overflow: hidden;
    transition: all 1s ease-in;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes display-body {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-menu {
    0% {
        opacity: 0;
        transform: translateY(17px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    > i:first-child {
        color: #9356DC;
        position: absolute;
        left: 50%;
        margin-left: -85px;
        top: 40vh;
        font-size: 10rem;
        animation: loading-spinner 1s ease-in-out 3;
    }
    .bloc-page {
    animation: display-body 0s 3s both;
    }
}

h1 {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 2.5%;
    padding: 42.5px 0 17px 0;
}

h3 {
    font-size: 0.9rem;
}

h4 {
    font-family: "Shrikhand", serif;
    font-size: 1.1rem;
    color: $bg-color;
    margin-bottom: 13.5px;
}

header {
    height: 68px;
    @include shadow;
    position: relative;
    z-index: 1;
    background-color: $bg-color;
    img {
        max-width: 45%;
        height: auto;
        max-height: 60px;
        display: block;
        margin: auto;
        padding-top: 22px;
    }
    i {
        font-size: 1.2rem;
        position: absolute;
        left: 25.5px;
        padding-top: 27px;
    }
}

main {
    background-color: $bg-color;
    position: relative;
}

footer {
    height: 204px;
    background-color: $bg-color-dark;
    padding: 25.5px 5%;
    a {
        color: $bg-color;
        font-size: 0.8rem;
        font-weight: 300;
    }
    i {
        width: 10px;
        color: $bg-color;
        font-size: 0.7rem;
        margin-right: 12px;
    }
    ul {
        line-height: 25.5px;
    }
}

.heading {
    input {
        background-color: $bg-color-tertiary;
        height: 30px;
        width: 170px;
        font-size: 1.1rem;
        border: none;
        margin-left: 10px;
        padding-left: 20px;
    }
    &__location {
        background-color: $bg-color-tertiary;
        color: darken($bg-color-tertiary, 70);
        height: 51px;
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
    }
    &__reservation {
        height: 289px;
        background-color: $bg-color-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25.5px;
        align-items: center;
        p {
            font-weight: 300;
            text-align: center;
        }
        &-btn {
            @include main-btn;
            &:hover {
                box-shadow: 0 5px 15px darken($bg-color-tertiary, 45);
                background: $color-secondary;
            }
        }
    }
    &__image { 
        width: 100%;
        height: auto;
        z-index: 2;
        position: relative;
        @include tablette-bp {
            width: 40%;
            height: auto;
            margin-left: 30%;
            border-radius: 68px;
        }
    }
}

.fonctionnement {
    height: 374px;
    background-color: $bg-color;
    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    li {
        width: 90%;
        height: 68px;
        padding: 25.5px 34px;
        background-color: $bg-color-secondary;
        border-radius: 20px;
        display: flex;
        gap: 25.5px;
        @include shadow;
        position: relative;
        p:first-child {
            width: 25.5px;
            height: 25.5px;
            text-align: center;
            font-size: 0.9rem;
            
            padding: 3.5px;
            color: $bg-color;
            background-color: $color-primary;
            border-radius: 50%;
            position: absolute;
            left: -7px;
        }
        &:hover {
            background-color: lighten($color-primary, 35);
            i {
                color: $color-primary;
            }
        }
    }
    i {
        color: darken($bg-color-tertiary, 40);
        font-size: 1.3rem;
    }
}

.restaurants {
    background-color: $bg-color-secondary;
    height: auto;
    padding-bottom: 34px;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 17px;
        @include tablette-bp {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    li {
        width: 90%;
        height: 272px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        border-radius: 17px;
        @include shadow;
        @include tablette-bp {
            width: 45%;
        }
        img {
            width: 100%;
            height: auto;
        }
        &:hover {
            box-shadow: none;
        }
    }
    &__new {
        position: absolute;
        z-index: 1;
        top: 13.5px;
        right: 13.5px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40);
        font-size: 0.9rem;
        padding: 5px 12px;
    }
    &__description {
        width: 100%;
        height: 77px;
        padding: 17px;
        line-height: 24px;
        background-color: $bg-color;
        position: absolute;
        bottom: 0;
        i {
        position: absolute;
        z-index: 5;
        font-size: 1.5rem;
        bottom: 25.5px;
        right: 25.5px;
        }
        &-like::before {
            @include anim-like;
            top: 27px;
            right: 25.5px;
        }
        &-like:hover::before {
            color: #FF79DA;
            height: 100%;
        }
        p {
            font-weight: 300;
        }
    }
}

.bloc-main {
    width: 100%;
    position: absolute;
    top: 204px;
    z-index: 4;
    @include tablette-bp {
        position: unset;
    }
}

.menu {
    height: auto;
    padding-bottom: 17px;
    z-index: 3;
    background-color: $bg-color-secondary;
    border-radius: 42.5px 42.5px 0 0;
    position: relative;
    h1 {
        font-family: "Shrikhand", serif;
        font-size: 1.6rem;
        text-align: left;
        padding: 34px 2.5% 0;
        margin-bottom: 17px;
    }
    ul {
        @include tablette-bp {
            display: flex;
        }
    }
    &__like { 
        i {
            position: absolute;
            right: 37.4px;
            top: 39px;
            font-size: 1.5rem;
        }
        &::before {
            @include anim-like;
            right: 37.4px;
            top: 39px;
        }
        &:hover::before {
            color: #FF79DA;
            height: 100%;
        }
    }
    h2 {
        font-weight: 300;
        font-size: 1.1rem;
        padding-top: 17px;
    }
    &__title {
        position: relative;
    }
    &__underline {
        height: 4px;
        width: 51px;
        position: absolute;
        left: 2.5%;
        bottom: 10px;
        background-color: $color-tertiary;
    }
    &__dish {
        @include tablette-bp {
            margin: 17px;
        }
        background-color: $bg-color;
        width: 95%;
        height: 68px;
        margin: 0 auto 17px;
        border-radius: 17px;
        box-shadow: 0 3.4px 10px $bg-color-tertiary;
        position: relative;
        overflow: hidden;
        animation: slide-menu 0.5s 0.3s ease-out both;
        &:focus i, &:hover i {
            transform: rotate(0);
            transition: transform 0.5s;
        }
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: width 150ms ease-in;
            &:focus, &:hover {
                width: calc(100% - 51px);
            }
        }
        @for $i from 1 to 11 {
            &--#{$i} {
                animation-delay: (150ms * $i);
            }
        }
        h3 {
            padding: 13.5px 12px 3.4px;
            margin-right: 51px;
            @include ellipsis-overflow;
        }
        p:first-of-type {
            padding: 3.4px 12px 0;
            font-weight: 300;
            font-size: 0.8rem;
            @include ellipsis-overflow;
        }
        p:last-child {
            position:absolute;
            right: 25.5px;
            bottom: 10px;
        }
        &-check {
            width: 85px;
            height: 68px;
            background-color: $color-tertiary;
            position: absolute;
            right: -17px;
            z-index: 2;
            transform: translateX(85px);
            transition: transform 150ms ease-in;
            i {
                padding: 22px;
                font-size: 1.7rem;
                color: $bg-color;
                transform: rotate(-360deg);
            } 
        }
        &:focus , &:hover {
            .menu__dish-check {
                transform: translateX(0);
            }
        }
        &:hover {
            box-shadow: none;
        }
    }
    &__btn {
        display: block;
        margin: 51px auto 34px;
        @include main-btn;
        text-align: center;
        width: 170px;
        &:hover {
            box-shadow: 0 5px 15px darken($bg-color-tertiary, 45);
            background: $color-secondary;
        }
    }
}
